
<div class="container">
<div class="child form-row mt-4">
                      <div class="col-sm-12 pb-3">
                        <h3>Client Information</h3>
                        <hr />
                      </div>
                      <div class="col-sm-5 pb-3">
                          <label for="exampleFirst">Full Name</label>
                          <input type="text" class="form-control" id="exampleFirst">
                      </div>
                       <div class="col-sm-2 pb-3">
                           <label for="exampleAccount">Account #</label>
                           <input type="text" class="form-control" id="exampleAccount" placeholder="XXXXXX">
                       </div>
                       <div class="col-sm-3 pb-3">
                           <label for="exampleCtrl">Date of Birth</label>
                           <input type="text" class="form-control" id="exampleCtrl" placeholder="YYYY/MM/DD">
                       </div>
                       <div class="col-sm-2 pb-3">
                           <label for="exampleCtrl">Years Claims Free</label>
                           <input type="text" class="form-control" id="exampleCtrl" placeholder="0">
                       </div>
                       <div class="col-sm-12 pb-3">
                         <h3>Address Information</h3>
                         <hr />
                       </div>
                       <div class="col-sm-6 pb-3">
                           <label for="exampleCity">Insured Property Street Address</label>
                           <input type="text" class="form-control" id="exampleCity">
                       </div>
                       <div class="col-sm-3 pb-3">
                           <label for="exampleZip">Insured Property Postal Code</label>
                           <input type="text" class="form-control" id="exampleZip" placeholder="XXX-XXX">
                       </div>
                       <div class="col-md-3 pb-3">
                         <label for="exampleAccount"></label>
                           <div class="form-group large">
                               <div class="form-check form-check-inline top">
                                   <label class="form-check-label">
                                       <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked> Mail policy to this address
                                   </label>
                               </div>
                           </div>
                       </div>
                       <div class="col-sm-6 pb-3">
                           <label for="exampleCity">Mailing Street Address</label>
                           <input type="text" class="form-control" id="exampleCity">
                       </div>
                       <div class="col-sm-3 pb-3">
                           <label for="exampleSt">Mailing Province</label>
                           <select class="form-control" id="exampleSt">
                               <option>Pick a province</option>
                           </select>
                       </div>
                       <div class="col-sm-3 pb-3">
                           <label for="exampleZip">Mailing Postal Code</label>
                           <input type="text" class="form-control" id="exampleZip" placeholder="XXX-XXX">
                       </div>
                       <div class="col-sm-12 pb-3">
                         <h3>Insured Property Information</h3>
                         <hr />
                       </div>
                       <div class="col-md-4 pb-3">
                           <label for="exampleAccount">Build Quality</label>
                           <div class="form-group small">
                               <div class="form-check form-check-inline">
                                   <label class="form-check-label">
                                       <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="standard" checked> Standard
                                   </label>
                               </div>
                               <div class="form-check form-check-inline">
                                   <label class="form-check-label">
                                       <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="semi-custom"> Semi-custom
                                   </label>
                               </div>
                               <div class="form-check form-check-inline">
                                   <label class="form-check-label">
                                       <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="custom"> Custom
                                   </label>
                               </div>
                           </div>
                       </div>
                       <div class="col-sm-2 pb-3">
                           <label for="exampleCtrl">Year Built</label>
                           <input type="text" class="form-control" id="exampleCtrl" placeholder="YYYY">
                       </div>
                       <div class="col-sm-3 pb-3">
                           <label for="exampleAmount">Total Sqft (excluding basement)</label>
                           <div class="input-group">
                               <input type="text" class="form-control" id="exampleAmount" placeholder="Amount">
                               <div class="input-group-append"><span class="input-group-text">sqft</span></div>
                           </div>
                       </div>
                       <div class="col-sm-3 pb-3">
                           <label for="exampleAmount">Basement Sqft (zero if none)</label>
                           <div class="input-group">
                               <input type="text" class="form-control" id="exampleAmount" placeholder="Amount">
                               <div class="input-group-append"><span class="input-group-text">sqft</span></div>
                           </div>
                       </div>
                       <div class="col-sm-3 pb-3">
                           <label for="floors">Number of Floors (exclude basement)</label>
                           <select class="form-control" id="floors">
                               <option>1</option>
                               <option>1.5</option>
                               <option>2</option>
                               <option>2.5</option>
                               <option>3+</option>
                           </select>
                       </div>
                       <div class="col-sm-3 pb-3">
                           <label for="roof">The roof of this property is...</label>
                           <select class="form-control" id="roof">
                               <option>Less than 25 years old</option>
                               <option>25+ years old</option>
                           </select>
                       </div>
                       <div class="col-md-6 pb-3">
                           <label for="exampleAccount">Burglar Alarm Type</label>
                           <div class="form-group small top">
                               <div class="form-check form-check-inline">
                                   <label class="form-check-label">
                                       <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="standard" checked> None
                                   </label>
                               </div>
                               <div class="form-check form-check-inline">
                                   <label class="form-check-label">
                                       <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="semi-custom"> Local
                                   </label>
                               </div>
                               <div class="form-check form-check-inline">
                                   <label class="form-check-label">
                                       <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="custom"> Monitored
                                   </label>
                               </div>
                           </div>
                       </div>
                       <div class="col-md-6 pb-3">
                           <label for="exampleMessage">Comments</label>
                           <textarea class="form-control" id="exampleMessage"></textarea>
                           <small class="text-info">
                             Add any comments or reminders here.
                           </small>
                       </div>
                       <div class="col-md-6 pb-3">
                         <label class="bottom" for="final"></label>
                         <button class="btn btn-lg my-btn btn-block" type="submit" id="final">Quote it!</button>
                       </div>

                       <div class="col-md-12">
                         <hr />
                         <footer>
                           <p class="float-right"><a href="/quote/#">Reset form</a></p>
                           <p>&copy; 2018 Jack Zhang &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
                         </footer>
                       </div>
                   </div>
</div>
