<body class="text-center">
    <form class="form-signin" (submit)="onRegSubmit()">
      <img class="mb-4" src="http://www.clker.com/cliparts/k/D/s/Z/R/D/yellow-umbrella.svg" alt="" width="120" height="120">

      <div class="alert alert-danger" *ngIf="regFailed">
        <strong>Registration Failed!</strong>
      </div>
      <div class="alert alert-danger" *ngIf="userExists">
        <strong>Username Already Exists!</strong>
      </div>

      <h1 class="h3 mb-3 font-weight-normal">Please register</h1>

      <label for="inputName" class="sr-only">Name</label>
      <input type="text" class="form-control" name="name" [(ngModel)]="name" id="inputName" placeholder="Name" required>

      <label for="inputUserName" class="sr-only">Username</label>
      <input type="text" class="form-control" name="username" [(ngModel)]="username" id="inputUserName" placeholder="Username" required>

      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" name="email" [(ngModel)]="email" placeholder="Email address" required autofocus>

      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" name="password" [(ngModel)]="password" placeholder="Password" required>

      <button class="btn btn-lg my-btn btn-block" type="submit">Register</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2018</p>
    </form>
  </body>
