.my-space{
  margin-left: 25px;
}

.jumbotron {
  background-image: url('../../../assets/umbrella.jpg') !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.color-gray{
  color: #585858;
}

.btn{
  color: white;
  background-color: #ffc815;
}

.color-yellow{
  color: #ffc815;
}
